<h4 class="center">Activity Logs</h4>

<table class="highlight">
  <thead>
    <tr>
      <th>Email</th>
      <th>Controller</th>
      <th>Action</th>
      <th>Date and Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_logs.each do |activity_log| %>
      <tr>
        <td><%= activity_log.user_email %></td>
        <td><%= activity_log.controller %></td>
        <td><%= activity_log.action %></td>
        <td><%= activity_log.created_at %></td>
        <td>
          <%= link_to admin_activity_log_path(activity_log) do %>
            <i class="material-icons">visibility</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
