<%= form_with(model: todo, local: true, class: "col s12") do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation" class="card-panel red lighten-3">
      <h6><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h6>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :last_updated_at %>

  <div class="row">
    <div class="input-field col s12">
      <%= form.label :title %><br />
      <%= form.text_field :title, id: :todo_title, class: "validate" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= form.label :body %><br />
      <%= form.text_area :body, id: :todo_body, class: "materialize-textarea" %>
    </div>
  </div>

  <div class="row">
    <div class="col s6 push-s6">
      <%= form.submit class: "btn waves-effect waves-light right" %>
    </div>
  </div>
<% end %>
