<li id="index_li_<%= todo.id %>" class="collection-item">
  <div class="collapsible-header">
    <h5><%= todo.title %></h5>
    <%= date_time_display(todo.updated_at, act) %>
  </div>
  <div class="collapsible-body">
    <p><%= todo.body %></p>
    <div class="row">
      <%= link_to todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "right col s1" do %>
        <i class="material-icons">delete</i>
      <% end %>
      <%= link_to edit_todo_path(todo), class: "right col s1" do %>
        <i class="material-icons">edit</i>
      <% end %>
      <%= link_to todo, class: "right col s1" do %>
        <i class="material-icons">visibility</i>
      <% end %>
    </div>
  </div>
</li>
