<% if notice %>
  <div id="notice" class="card-panel green lighten-3"><%= notice %></div>
<% end %>

<h4 class="center"><%= @todo.title %></h4>

<div class="card">
  <div class="card-content">
    <p><%= @todo.body %></p>
  </div>
</div>

<div class="center">
  <%= link_to 'Edit', edit_todo_path(@todo) %> | <%= link_to 'Back', todos_path %>
</div>
