<p id="notice"><%= notice %></p>

<h5><%= @todo.title %></h5>

<div class="card">
  <div class="card-content">
    <p><%= @todo.body %></p>
  </div>
</div>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
